.PosterPreview {
    width: 250px;
    height: 350px;
    margin: 30px;
    transition: 500ms;
}

.PosterPreview:hover{
    margin-top: -0px;
    transition: 500ms;

}

img {
    width: 250px;
    height: 350px;

}
img:hover{
    transition: 500ms;
    box-shadow: #ffffff 0px 0 1000px 0px ;
    z-index: -1;
}

.titleDiv {
    width: 250px;
    height: 60px;
    background: rgb(0,0,0,0.4);
    position: relative;
    top:60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
h4{
    margin: 0;
    color: aliceblue;
}