.PostersImg {
    width: 250px;
    height: 350px;
    /*transition: 500ms;*/
    /*padding: 10px;*/
    margin: 0 auto;
    background-color: transparent;
    transition: transform 500ms;

}

.PostersImg:hover {
    box-shadow: 0 0 40px 0 #466293;
    transform: scale(110%);
    transition: 500ms;
}

