.MovieInfoFather{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;

}


.MovieInfo{
    width: 800px;
    height: 100%;
    background: rgb(0,0,0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Poster{
    width: 350px;
    height: 500px;
}

.description{
    width: 500px;
    height: 500px;
    margin: 10px 0 0 30px;
    padding-right:30px;

}

.PosterTitle  {
    font-size: 30px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*height: 100%;*/

}

.starsBottom {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.RatingFather{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.RatingFather  h4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}


.budget,
.status,
.runtime,
.tagline,
.revenue,
.country,
.companies{
    margin: 0;
    height: 16px;
}

p{
    margin-top: 5px;
    font-size: 14px;
}


.overviewFather {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    box-sizing: border-box;
}

.overview  {
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*h4{*/
/*    margin-right: 10px;*/
/*}*/

hr {
    width: 100%;
    height: 1px;
    background: aliceblue;
}


.backdrop{
    width: 400px;
}

.Budges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}