.MovieInfoFather{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}


.MovieInfo{
    width: 70%;
    height: 100%;
    background: rgb(0,0,0, 0.3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.PosterMovie{
    width: 350px;
}

.description{
    width: 100%;
    margin: 0 0 0 30px;
}

.PosterTitle  {
    font-size: 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starsBottom {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.RatingFather{
    width: 71.8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h4{
    margin: 10px;
}
