.search {
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    top:10px;
    margin-right: 30px;
    /*align-items: center;*/
}
.inputButton{
    width: 50px;
    height: 40px;
    cursor: pointer;
}