.MoviesListCard {
    width: 250px;
    height: 350px;
    margin: 30px;
    transition: 500ms;
}

.MoviesListCard:hover {
    margin-top: -10px;
    transition: 500ms;
    cursor: pointer;
}


.titleDiv {
    width: 250px;
    height: 60px;
    background: rgb(0, 0, 0, 0.4);
    position: relative;
    top: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    color: aliceblue;
}

/*h4{*/
/*    margin: 0;*/
/*    color: aliceblue;*/
/*}*/